---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro"; // Ensure this path is correct and the Button component exists
import Link from '../components/Link.astro';
import Hero from "../components/Hero.astro";
import { Image } from 'astro:assets';
import billede1 from "../assets/images/billede1.jpg";
import billede2 from "../assets/images/billede2.jpg";
import billede3 from "../assets/images/billede3.jpg";
import billede4 from "../assets/images/billede4.jpg";
import Quiz from "../components/Quiz.astro";
import pil from "../assets/images/pil.svg";
import flasker from "../assets/images/flasker.png";
import Formular from '../components/Formular.astro';
import skildpadde from "../assets/images/skildpadde.svg";
import fisk from "../assets/images/fisk.svg";
import 'animate.css';
---
<MainLayout title="#singleusesucks">
<!-- Hero -->
 <Hero></Hero>
</div>
<Image src={pil} alt="pil" class="w-[200px] sm:w-[300px] md:w-[400px] h-auto absolute top-0 sm:mt-[300px] md:mt-32 md:right-28 animate-bounce" />
</div>


<!-- Section 2 - skildpadde -->
<article class=" bg-primary grid grid-cols-1 md:grid-cols-2 gap-6 flex items-center h-screen w-full bg-cover bg-center sticky top-0 ">
	<div class="relative flex items-center justify-center">
		<Image src={billede2} alt="skildpadde" class="md:object-cover sm:h-[20px] md:h-[700px]"/>
		<Image src={skildpadde} alt="skildpadde tegning" class="absolute -top-4 -left-6 md:object-contain sm:h-[20px] md:h-[800px] animate-pulse"/></div>
	<div class="m-4 md:m-16 flex flex-col justify-center sm:mb-[200px]">
		<p class="sm:mb-100 md:mb-20 text-sm md:text-base">
			Du har sikkert set plastik ligge i naturen samt på vores gader og stræder. Det er et stort problem, fordi plastik er ekstremt slidstærkt og ikke nedbrydes naturligt over tid. 
			I modsætning til materialer som pap, træ, metal, keramik og glas, der gradvist nedbrydes og genindgår i naturens kredsløb, bliver plastik liggende i miljøet i mange år og skader både dyr og økosystemer.
		</p>
		<h2 class="mt-10 md:mt-20 text-lg md:text-5xl font-bold">Plastik ophober sig i naturen & truer dyrelivet</h2>
	</div>
</article>

<!-- Section 3 - Snapchat -->
 <article class="grid grid-cols-1 md:grid-cols-2 gap-6 bg-secondary p-6 sm:p-10 md:p-20 stickyparallax1 md:mb-200">
	<div class="flex flex-col justify-center">
		<h2 class="text-base sm:text-lg md:text-5xl font-bold text-primary">Vidste du, at plastik forværrer klimaet?</h2>
	</div>
	<div class="flex flex-col justify-center">
		<p class="mb-6 sm:mb-10 md:mb-20 text-xs sm:text-sm md:text-base text-primary">
			98% plastik er lavet af fossile brændstoffer, som olie og naturgas. Disse indeholder rigtig store mængder drivhusgasser, som frigives når man brænder plastik af på forbrændingsanlæg, når man efterlader plastik på lossepladser eller i naturen. <br><br>
			Vi må ikke glemme al den CO2, som bliver udledt, når vi producerer plastikprodukter, som emballager, der transporteres fra butik og fra butikkerne til os forbrugere.
		</p>
		<h3 class="text-sm sm:text-base md:text-2xl font-bold">Følg med og lær mere på Snapchat: @Singleusesucks</h3>
	</div>
</article>

<!-- Baggrunds test -->
<Image src={billede1} alt="flasker" class="w-full h-auto object-cover flex items-center h-screen bg-cover bg-center sticky top-0" />

<!-- section 4 - gode råd -->
<article class=" stickyparallax1 bg-primary p-4">
<div class="md:m-[64px] sm:m-[40px]">
	<div class="md:mb-32">
		<h2>Hvad kan du selv gøre?</h2>
	</div>	
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
		<div class="relative flex justify-center">
			<Image src={billede3} alt="fisk i glas" class="w-full h-auto object-cover" />
			<Image src={fisk} alt="fisk" class="absolute top-32 left-33 w-[31.5%] h-auto object-contain animate-pulse" />
		</div>
		<div class="flip-card w-full aspect-square relative">
			<div class="bg-secondary flex flex-col justify-center items-center text-left h-full flip-card-inner">
				<!-- Front Side (A) -->
				<div class="flip-card-front p-4 sm:p-6 lg:p-8">
					<h3 class="text-primary text-base sm:text-lg md:text-3xl lg:text-3xl font-bold">Drop engangskrus til festerne</h3>
				</div>
				<!-- Back Side (B) -->
				<div class="flip-card-back p-4 sm:p-6 lg:p-8">
					<p class=" text-primary text-base md:text-xl sm:text-base">Brug genanvendelige kopper i stedet for plastik</p>
				</div>
			</div>
		</div>
		<div class="flip-card w-full aspect-square relative">
			<div class="bg-secondary flex flex-col justify-center items-center text-left h-full flip-card-inner">
				<!-- Front Side (A) -->
				<div class="flip-card-front p-4 sm:p-6 lg:p-8">
					<h3 class="text-primary text-base sm:text-lg md:text-3xl lg:text-3xl font-bold">Smid ikke snus på jorden</h3>
				</div>
				<!-- Back Side (B) -->
				<div class="flip-card-back p-4 sm:p-6 lg:p-8">
					<p class=" text-primary text-base md:text-xl sm:text-base">Snusposer indeholder plastik og tager flere år at nedbryde. <br> <br>Smid dem i skraldespanden i stedet for på gaden</p>
				</div>
			</div>
		</div>
		<div class="flip-card w-full aspect-square relative">
			<div class="bg-secondary flex flex-col justify-center items-center text-left h-full flip-card-inner">
				<!-- Front Side (A) -->
				<div class="flip-card-front p-4 sm:p-6 lg:p-8">
					<h3 class="text-primary text-base sm:text-lg md:text-3xl lg:text-3xl font-bold">Tænk over dit tøjforbrug</h3>
				</div>
				<!-- Back Side (B) -->
				<div class="flip-card-back p-4 sm:p-6 lg:p-8">
					<p class=" text-primary text-base md:text-xl sm:text-base">Tøj fra fast fashion-kæder indeholder plastik og mikroplast. <br> <br> Køb secondhand eller kvalitet, der holder længere</p>
				</div>
			</div>
		</div>
	
	</div>
</div>
</article>

<!-- Section 5 - Begivenhed -->
<article class="grid grid-cols-1 md:grid-cols-2 gap-6 stickyparallax1 bg-primary md:mb-150">
	<div class="m-10 md:m-[64px] flex flex-col justify-center textinview">
		<h2 class="mb-6 md:mb-16 text-lg md:text-5xl font-bold">Vær med til at rydde op!</h2>
		<p class="mb-4 md:mb-8 text-sm md:text-base">
			#Singleusesucks afholder oprydningsdag på Valby Strand d. 18. juni. For hvert kilo skrald, vi samler, donerer Mærsk 1.000 kr. til Plastic Change.
		</p>
		<h3 class="mb-4 md:mb-8 text-base md:text-xl font-bold text-secondary">
			På Valby strand d. 18.06.2025
		</h3>
		<p class="text-sm md:text-base">
			Plastik er overalt i vores liv og det er ikke realistisk at tro, at vi kan klare os uden – i hvert fald ikke i den nærmeste fremtid. Tænk på den plastik, som redder liv på hospitalerne, den som er i din computer, eller din families bil.
		</p>
	</div>
	<div class="relative flex justify-center items-center">
		<div class="absolute top-[45%] left-[50%] transform -translate-x-1/2 -translate-y-1/2">
			<a href="http://localhost:4321/form">
			<Button variant="primary" size="large">Deltag i begivenheden</Button></a>
		</div>
		<Image src={billede4} alt="skildpadde" class="w-full h-auto object-cover" />
	</div>
</article>

<!-- section 5 - quiz -->
<article>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6 sm:p-10 md:p-20 stickyparallax1 bg-secondary">
		<div class="flex justify-center">
			<div class="w-full max-w-md">
				<Quiz></Quiz>
			</div>
		</div>
		<div class="flex flex-col justify-center text-center md:text-left">
			<h2 class="text-lg sm:text-xl md:text-5xl font-bold mb-4 md:mb-6 text-primary">Test din viden</h2>
			<p class="text-sm sm:text-base md:text-lg text-primary">
				Er du en plastikhelt eller en miljøsynder? <br /> Tag quizzen og test din viden!
			</p>
		</div>
	</div>
</article>


</MainLayout>

<script>
	/* Import af Motion One bibliotek */
	import { animate, stagger, inView, scroll } from "motion";

	/* Entrance animation */
	animate( "body", { opacity: [ 0, 1] }, { duration: 0.5 })

	/* Inview - slide fra venstre og ind */
	/* inView animation */
	inView( ".textinview" , () =>{
	animate( ".textinview", { x: [-2000, 0 ] }, { duration: 2 })
	})

	/* Sticky parallax */
	// scroll(animate(".stickyparallax1", { y: [-10, 0] }), {
	// 	target: document.querySelector(".stickyparallax1"),
	// });

	const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
        if (entry.isIntersecting) {
            entry.target.style.opacity = 1;
            entry.target.style.transform = "translateY(0)";
            entry.target.style.transition = "all 0.5s ease-out";
        }
    });
});

document.querySelectorAll(".stickyparallax1").forEach(el => observer.observe(el));

	
</script>

